.footer {
    background-color: #9c9c9c; /* Dark wood color */
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 0;
    position: relative; /* Remove 'fixed' */
    bottom: 0;
    width: 100%;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}

/* Reduce footer size */
.footer p {
    margin: 0;
    padding: 0;
}
